* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#btn {
  padding: 20px;
  border-radius: 50px;
  font-size: 30px;
  background: none;
}
#btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

#rgb {
  padding: 5vh;
  font-size: 30px;
}
