@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

/* general styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#btn {
  padding: 20px;
  border: 1px solid black;
  border-radius: 50px;
  background: none;
  font-size: 30px;
}
#btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#rgb {
  padding: 5vh;
  font-size: 30px;
}
